.home_container {

    .album-list {
        padding: 10px 0px 10px 0px;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}
